.item-container {
  border: 10px solid #351f39;
  border-radius: 5px;
  margin: 0.8vw;

  .back-image {
    width: 300px;
    height: 200px;
    background-position: center;
    background-size: cover;
    &:hover {
      cursor: pointer;
    }
  }
  .details {
    background: #351f39;
    padding: 5px;
    width: 100%;
    color: white;
    .title {
      font-weight: bold;
    }
    .title, .release-date, .genres {
      margin: 3px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 280px;
    }
    .title:hover {
      color: #719fb0;
      cursor: pointer;
    }
    .release-date {
      font-size: 0.8em;
      height: 1.3em;
    }
    .genres {
      font-size: 0.7em;
      height: 1.3em;
    }
  }
}

$breakpoint-tablet: 768px;
@media (max-width: $breakpoint-tablet) {
  .item-container {
    border: 2px solid #351f39;
    margin: 5px;
  }
}
